.trips {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  
  .trips img {
    width: 10%;
  }
  .trip {
    padding: 40px;
  }
  
  button {
    font-size: 20px;
    padding: 10px;
  }
  header {
    background-color: yellow;
    height: 70px;
    padding-top: 20px;
  } 