.trip-card, .agency-card {
	border: 1px solid;
	border-radius: 30px;
	min-width: 25vh;
	height: 25vh;
	scroll-snap-align: start;
	text-align: center;
}
.carousel{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 10px;
	flex-shrink: 0;
	overflow-x: scroll;
	scroll-snap-type: y mandatory;
}
.carousel-title{
	justify-content: start;
}